<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">

	<servers>
		<!-- Username and password must be explicitly provided -->
		<!-- Refer to Maven documentation if you want to use encrypted passwords -->
		<server>
			<id>U-REPO</id>
			<username>${app.username}</username>
			<password>${app.password}</password>
		</server>
		<server>
			<id>anypoint-exchange-v3</id>
			<username>${app.username}</username>
			<password>${app.password}</password>
		</server>
	</servers>
</settings>